{% extends 'GeneralMaster.html' %}
{% block contentarea %}
    {% load static %}
    <div class="container">
<div class="row">
    <div class="col-sm-12 pannel pannel-body" style="border:3px solid whitesmoke;height:80px;margin-top:10px;border-radius:60px;box-shadow:10px 10px lightgray;text-align:center; padding:15px;font-size:30px;background-color:whitesmoke; color:darkred;"><span class="fa fa-building"><em>Facilities</em></span></div>
</div>
        <!------------seminar hall----------------------->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>Seminar Hall</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!---------------campus selection------------------------------>
     <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!------------------sports------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!----------------------branch labs----------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!-----------------------workshops lab------------------------------------------>
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!---------------------curtural program-------------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!--------------------------company workshop--------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!---------------------------library-------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!--------------------------boys hostel--------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!----------------------------having branch classes------------------------------------->
        <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <!----------------------------having camera in all classes------------------------------------->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 pannel pannel-body" style="border:3px solid white;height:80px;margin-top:10px;border-radius:60px;;text-align:center; padding:15px;font-size:30px;background-color:lightcoral; color:black;margin-top:20px;"><span class="fa fa-university"><tt>compus selection</tt></span></div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    </div>
{% endblock %}