{% extends "canteenmaster.html" %}


{%block body%}
this is my about page

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active mt-1 mb-6">
            {% comment %} <img src="/static/aboutus.avif" class="d-block" alt="..." width="100%" height="500"><br> {% endcomment %}
            <img src="/static/aboutus.avif" class="d-block" alt="..." width="100%" height="500">
        </div>
    </div>
</div>
{%endblock%}

