{% extends "canteenmaster.html" %}

{%block title%}  contact page{%endblock title%}
{%block body%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active mt-2 mb-6">
            {% comment %} <img src="/static/contact1.avif" class="d-block" alt="..." width="100%" height="500"><br> {% endcomment %}
            <img src="/static/contact.webp" class="d-block" alt="..." width="100%" height="500">
        </div>
    </div>
</div>
<div class="container">
<h1><center>Message submitted successfully!</center></h1>
</div>
{% comment %} <h5><center>Fill up the form below to send us a message.</center></h5><br> {% endcomment %}



{%endblock%}